<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.boarddatabase.BoardMapper">

	<!-- <select id="getSeq" parameterType="com.smhrd.domain.Member_board"
	 resultType="com.smhrd.domain.Member_board">
		select board_num.nextval from dual 
	</select>-->

	<insert id="boardInsert" parameterType="com.smhrd.boarddomain.Member_Board">
		insert into member_board(board_num, board_id, board_title, board_content, board_file) values (COM_SEQ.nextval, #{board_id}, #{board_title}, #{board_content}, #{board_file})
	</insert>

	<select id="BoardselectAll" resultType="com.smhrd.boarddomain.Member_Board">
		select * from member_board order by board_num desc
	</select>

	<update id="updateBoardCount" parameterType="com.smhrd.boarddomain.Member_Board">
		update member_board set board_count=#{board_count+1} where board_num=#{board_num}
	</update>
	
	<select id="selectBoard" parameterType="com.smhrd.boarddomain.Member_Board"
	 resultType="com.smhrd.boarddomain.Member_Board">
		select * from member_board, user_comment, member where member_board.board_num = user_comment.board_num(+) and user_comment.id_num = member.id_num(+) and member_board.board_num = #{board_num}
	</select>
	
	<select id="selectOneBoardByNum" parameterType="com.smhrd.boarddomain.Member_Board"
	 resultType="com.smhrd.boarddomain.Member_Board">
		select * from member_board where board_num=#{board_num}
	</select>
	
	<update id="updateBoard" parameterType="com.smhrd.boarddomain.Member_Board">
		update member_board set board_title=#{board_title}, board_content=#{board_content}, board_file=#{board_file} where board_num=#{board_num}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from member_board where board_num=#{board_num}
	</delete>
	
	
	<update id="updateComment" parameterType="com.smhrd.boarddomain.Member_Board">
		update user_comment set user_comment = #{user_comment} where id_num = #{id_num}
	</update>
	
	
	<delete id="deleteComment" parameterType="String">
		delete from user_comment where user_comment=#{user_comment}
	</delete>
	
	
	<insert id="commentInsert" parameterType="com.smhrd.boarddomain.Member_Board">
		insert into user_comment(id_num, board_num, user_comment) values (#{id_num}, #{board_num}, #{user_comment})
	</insert>
	
	<select id="searchTitle" parameterType="String"
	 resultType="com.smhrd.boarddomain.Member_Board">
		select * from member_board where board_title like '%#{content}%'
	</select>
	
	
	
</mapper>