<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.database.MemberMapper">
	<insert id="insertMember" parameterType="com.smhrd.domain.Member">
		insert into user_info values (idnum_seq.nextval, #{id}, #{pw}, #{gender}, #{birth}, #{email}, #{grade})
	</insert>
	
	<select id="selectMember" parameterType="com.smhrd.domain.Member"
	 resultType="com.smhrd.domain.Member">
		select * from user_info where id=#{id} and pw=#{pw}
	</select>
	
	<update id="updateMember" parameterType="com.smhrd.domain.Member">
		update user_info set pw=#{pw}, gender=#{gender}, birth=#{birth}, email=#{email} where id=#{id}
	</update>
	
	<update id="updateGrade" parameterType="com.smhrd.domain.Member">
		update user_info set grade=#{grade} where id=#{id}
	</update>
	
	<select id="selectAll" resultType="com.smhrd.domain.Member">
		select * from user_info
	</select>
	
	<delete id="deleteUser" parameterType="String">
		delete from user_info where id=#{id}
	</delete>
	
	<delete id="deleteUserMember" parameterType="String">
		delete from user_info where id=#{id} and pw=#{pw}
	</delete>
	
	
	<select id="confirmId" parameterType="String" resultType="int">
		select count(*) from user_info where id=#{id}
	</select>

	<insert id="insertCom" parameterType="com.smhrd.domain.compositionMember">
		insert into body_composition(id_num, weight, muscle, fat, weeks, pushup, pullup, type) values (#{id_num}, #{weight}, #{muscle}, #{fat}, #{weeks}, #{pushup}, #{pullup}, #{type})
	</insert>
	
	<select id="selectOneComposition" parameterType="int"
	 resultType="com.smhrd.domain.compositionMember">
		select * from (select * from body_composition natural join exercise order by insertdate desc) where id_num = #{id_num} and rownum = 1
	</select>
	
	<select id="selectExercise" parameterType="int"
	 resultType="com.smhrd.domain.compositionMember">
		select * from exercise where type = #{type}
	</select>
	
	<update id="updateType" parameterType="com.smhrd.domain.compositionMember">
		update body_composition set type=#{type} where id_num = #{id_num}
	</update>
	
	<select id="selectfridayExercise" parameterType="int"
	 resultType="com.smhrd.domain.compositionMember">
		select ffirst_exercise, fsecond_exercise, fthird_exercise, ffourth.exercise from exercise where type = #{type}
	</select>
	
	<select id="bodyCompositionSelectAll" parameterType="_int" resultType="com.smhrd.domain.BodyComposition">
		select id_num, weight, muscle, fat, insertdate from body_composition where id_num = #{id_num}
	</select>
	
	<update id="likeCnt" parameterType="int">
		update exerciselike set likecnt = likecnt + 1 where type = #{type}
	</update>
	
	<update id="unlikeCnt" parameterType="int">
		update exerciselike set likecnt = likecnt - 1 where type = #{type}
	</update>
	
	
</mapper>