<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.database.MemberMapper">
	<insert id="insertMember" parameterType="com.smhrd.domain.Member">
		insert into member values (#{id}, #{pw}, #{gender}, #{birth_yy}, #{birth_mm}, #{birth_dd}, #{mail1}, #{mail2}, NUM_SEQ.nextval, #{grade})
	</insert>
	
	<select id="selectMember" parameterType="com.smhrd.domain.Member"
	 resultType="com.smhrd.domain.Member">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	<update id="updateMember" parameterType="com.smhrd.domain.Member">
		update member set pw=#{pw}, gender=#{gender}, birth_yy=#{birth_yy}, birth_mm=#{birth_mm}, birth_dd=#{birth_dd}, mail1=#{mail1}, mail2=#{mail2} where id=#{id}
	</update>
	
	<update id="updateGrade" parameterType="com.smhrd.domain.Member">
		update member set grade=#{grade} where id=#{id}
	</update>
	
	<select id="selectAll" resultType="com.smhrd.domain.Member">
		select * from member
	</select>
	
	<select id="selectOne" parameterType="com.smhrd.domain.Member"
	 resultType="com.smhrd.domain.Member">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	<delete id="deleteUser" parameterType="com.smhrd.domain.Member">
		delete from member where id=#{id}
	</delete>
	
	<delete id="deleteMember" parameterType="String">
		delete from member where id=#{id} and pw=#{pw}
	</delete>
	
	
	<select id="confirmid" parameterType="String" resultType="int">
		select count(*) from member where id=#{id}
	</select>

	<insert id="insertCom" parameterType="com.smhrd.domain.compositionMember">
		insert into body_composition values (#{id}, #{weight}, #{muscle}, #{fat})
	</insert>
	

	
	
	<!-- <select id="loginCheck" parameterType="com.smhrd.domain.Member"

	 resultType="com.smhrd.domain.Member">
		select * from member where id=#{id}
	</select> -->
	
</mapper>