<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">


   <display-name>gittest</display-name>
   <servlet>
   	<description>
   	</description>
   	<display-name>modyfyCon</display-name>
   	<servlet-name>modyfyCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.modyfyCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>joinCon</display-name>
   	<servlet-name>joinCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.joinCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>loginCon</display-name>
   	<servlet-name>loginCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.loginCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>logoutCon</display-name>
   	<servlet-name>logoutCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.logoutCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>deleteCon</display-name>
   	<servlet-name>deleteCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.deleteCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>MemberIdCheck</display-name>
   	<servlet-name>MemberIdCheck</servlet-name>
   	<servlet-class>com.smhrd.contoller.MemberIdCheck</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>deleteUserCon</display-name>
   	<servlet-name>deleteUserCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.deleteUserCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>compositionCon</display-name>
   	<servlet-name>compositionCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.compositionCon</servlet-class>
   </servlet>
   
   <servlet-mapping>
   	<servlet-name>modyfyCon</servlet-name>
   	<url-pattern>/modyfyCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>joinCon</servlet-name>
   	<url-pattern>/joinCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>loginCon</servlet-name>
   	<url-pattern>/loginCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>logoutCon</servlet-name>
   	<url-pattern>/logoutCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>deleteCon</servlet-name>
   	<url-pattern>/deleteCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>MemberIdCheck</servlet-name>
   	<url-pattern>/MemberIdCheck</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>deleteUserCon</servlet-name>
   	<url-pattern>/deleteUserCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   	<servlet-name>compositionCon</servlet-name>
   	<url-pattern>/compositionCon</url-pattern>
	</servlet-mapping>
   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.htm</welcome-file>
      <welcome-file>default.jsp</welcome-file>
      <welcome-file>main.html</welcome-file>
      <welcome-file>main.htm</welcome-file>
      <welcome-file>main.jsp</welcome-file>
   </welcome-file-list>



</web-app>
