<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">



   <display-name>gittest</display-name>
   <servlet>
   	<description>
   	</description>
   	<display-name>modyfyCon</display-name>
   	<servlet-name>modyfyCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.modyfyCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>joinCon</display-name>
   	<servlet-name>joinCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.joinCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>loginCon</display-name>
   	<servlet-name>loginCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.loginCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>logoutCon</display-name>
   	<servlet-name>logoutCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.logoutCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>deleteCon</display-name>
   	<servlet-name>deleteCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.deleteCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>idCheck</display-name>
   	<servlet-name>idCheck</servlet-name>
   	<servlet-class>com.smhrd.contoller.idCheck</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>deleteUserCon</display-name>
   	<servlet-name>deleteUserCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.deleteUserCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>compositionCon</display-name>
   	<servlet-name>compositionCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.compositionCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BoardCon</display-name>
   	<servlet-name>BoardCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.BoardCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BoardWriteCon</display-name>
   	<servlet-name>BoardWriteCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.BoardWriteCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BaordDetailCon</display-name>
   	<servlet-name>BaordDetailCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.BaordDetailCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BoardUpdateCon</display-name>
   	<servlet-name>BoardUpdateCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.BoardUpdateCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>usergradeCon</display-name>
   	<servlet-name>usergradeCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.usergradeCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CalendarDeleteCon</display-name>
   	<servlet-name>CalendarDeleteCon</servlet-name>
   	<servlet-class>com.smhrd.calendarcontroller.CalendarDeleteCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CalendarInsertCon</display-name>
   	<servlet-name>CalendarInsertCon</servlet-name>
   	<servlet-class>com.smhrd.calendarcontroller.CalendarInsertCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CalendarLastIdCon</display-name>
   	<servlet-name>CalendarLastIdCon</servlet-name>
   	<servlet-class>com.smhrd.calendarcontroller.CalendarLastIdCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CalendarUpdateCon</display-name>
   	<servlet-name>CalendarUpdateCon</servlet-name>
   	<servlet-class>com.smhrd.calendarcontroller.CalendarUpdateCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CalendarViewCon</display-name>
   	<servlet-name>CalendarViewCon</servlet-name>
   	<servlet-class>com.smhrd.calendarcontroller.CalendarViewCon</servlet-class>
   </servlet>
   
   <servlet-mapping>
   	<servlet-name>modyfyCon</servlet-name>
   	<url-pattern>/modyfyCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>joinCon</servlet-name>
   	<url-pattern>/joinCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>loginCon</servlet-name>
   	<url-pattern>/loginCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>logoutCon</servlet-name>
   	<url-pattern>/logoutCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>deleteCon</servlet-name>
   	<url-pattern>/deleteCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>idCheck</servlet-name>
   	<url-pattern>/idCheck</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>deleteUserCon</servlet-name>
   	<url-pattern>/deleteUserCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   	<servlet-name>compositionCon</servlet-name>
   	<url-pattern>/compositionCon</url-pattern>
	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>BoardCon</servlet-name>
   		<url-pattern>/BoardCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>BoardWriteCon</servlet-name>
   		<url-pattern>/BoardWriteCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>BaordDetailCon</servlet-name>
   		<url-pattern>/BaordDetailCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>BoardUpdateCon</servlet-name>
   		<url-pattern>/BoardUpdateCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>usergradeCon</servlet-name>
   		<url-pattern>/usergradeCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CalendarDeleteCon</servlet-name>
   		<url-pattern>/CalendarDeleteCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CalendarInsertCon</servlet-name>
   		<url-pattern>/CalendarInsertCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CalendarLastIdCon</servlet-name>
   		<url-pattern>/CalendarLastIdCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CalendarUpdateCon</servlet-name>
   		<url-pattern>/CalendarUpdateCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CalendarViewCon</servlet-name>
   		<url-pattern>/CalendarViewCon</url-pattern>
   	</servlet-mapping>
   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.htm</welcome-file>
      <welcome-file>default.jsp</welcome-file>
      <welcome-file>main.html</welcome-file>
      <welcome-file>main.htm</welcome-file>
      <welcome-file>main.jsp</welcome-file>
   </welcome-file-list>



</web-app>

