<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">



   <display-name>gittest</display-name>
   <servlet>
   	<description>
   	</description>
   	<display-name>modyfyCon</display-name>
   	<servlet-name>modyfyCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.modyfyCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>joinCon</display-name>
   	<servlet-name>joinCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.joinCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>loginCon</display-name>
   	<servlet-name>loginCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.loginCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>logoutCon</display-name>
   	<servlet-name>logoutCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.logoutCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>deleteCon</display-name>
   	<servlet-name>deleteCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.deleteCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>idCheck</display-name>
   	<servlet-name>idCheck</servlet-name>
   	<servlet-class>com.smhrd.contoller.idCheck</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>deleteUserCon</display-name>
   	<servlet-name>deleteUserCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.deleteUserCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>compositionCon</display-name>
   	<servlet-name>compositionCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.compositionCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BoardCon</display-name>
   	<servlet-name>BoardCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.BoardCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BoardWriteCon</display-name>
   	<servlet-name>BoardWriteCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.BoardWriteCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BoardListCon</display-name>
   	<servlet-name>BoardListCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.BoardListCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BaordDetailCon</display-name>
   	<servlet-name>BaordDetailCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.BaordDetailCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>BoardUpdateCon</display-name>
   	<servlet-name>BoardUpdateCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.BoardUpdateCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>usergradeCon</display-name>
   	<servlet-name>usergradeCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.usergradeCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CalendarDeleteCon</display-name>
   	<servlet-name>CalendarDeleteCon</servlet-name>
   	<servlet-class>com.smhrd.calendarcontroller.CalendarDeleteCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CalendarInsertCon</display-name>
   	<servlet-name>CalendarInsertCon</servlet-name>
   	<servlet-class>com.smhrd.calendarcontroller.CalendarInsertCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CalendarLastIdCon</display-name>
   	<servlet-name>CalendarLastIdCon</servlet-name>
   	<servlet-class>com.smhrd.calendarcontroller.CalendarLastIdCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CalendarUpdateCon</display-name>
   	<servlet-name>CalendarUpdateCon</servlet-name>
   	<servlet-class>com.smhrd.calendarcontroller.CalendarUpdateCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CalendarViewCon</display-name>
   	<servlet-name>CalendarViewCon</servlet-name>
   	<servlet-class>com.smhrd.calendarcontroller.CalendarViewCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>updataCon</display-name>
   	<servlet-name>updataCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.updataCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>boardDeleteCon</display-name>
   	<servlet-name>boardDeleteCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.boardDeleteCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CommentUpdateCon</display-name>
   	<servlet-name>CommentUpdateCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.CommentUpdateCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>commentDeleteCon</display-name>
   	<servlet-name>commentDeleteCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.commentDeleteCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>commentWriteCon</display-name>
   	<servlet-name>commentWriteCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.commentWriteCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>CommentUpdate</display-name>
   	<servlet-name>CommentUpdate</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.CommentUpdate</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>searchCon</display-name>
   	<servlet-name>searchCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.searchCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>LocationAddressListCon</display-name>
   	<servlet-name>LocationAddressListCon</servlet-name>
   	<servlet-class>com.smhrd.locationcontroller.LocationAddressListCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>LocationCityListCon</display-name>
   	<servlet-name>LocationCityListCon</servlet-name>
   	<servlet-class>com.smhrd.locationcontroller.LocationCityListCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>typeUpdateCon</display-name>
   	<servlet-name>typeUpdateCon</servlet-name>
   	<servlet-class>com.smhrd.boardcontroller.typeUpdateCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>prevExercise</display-name>
   	<servlet-name>prevExercise</servlet-name>
   	<servlet-class>com.smhrd.contoller.prevExercise</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>nextExercise</display-name>
   	<servlet-name>nextExercise</servlet-name>
   	<servlet-class>com.smhrd.contoller.nextExercise</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>mondsyExercise</display-name>
   	<servlet-name>mondsyExercise</servlet-name>
   	<servlet-class>com.smhrd.contoller.mondsyExercise</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>wednesdayExercise</display-name>
   	<servlet-name>wednesdayExercise</servlet-name>
   	<servlet-class>com.smhrd.contoller.wednesdayExercise</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>fridayExercise</display-name>
   	<servlet-name>fridayExercise</servlet-name>
   	<servlet-class>com.smhrd.contoller.fridayExercise</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>selelctDay</display-name>
   	<servlet-name>selelctDay</servlet-name>
   	<servlet-class>com.smhrd.contoller.selelctDay</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>likeCon</display-name>
   	<servlet-name>likeCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.likeCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>unlikeCon</display-name>
   	<servlet-name>unlikeCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.unlikeCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>likeExerciseCon</display-name>
   	<servlet-name>likeExerciseCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.likeExerciseCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>unLikeExerciseCon</display-name>
   	<servlet-name>unLikeExerciseCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.unLikeExerciseCon</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>UnLikeExerciseCon</display-name>
   	<servlet-name>UnLikeExerciseCon</servlet-name>
   	<servlet-class>com.smhrd.contoller.unLikeExerciseCon</servlet-class>
   </servlet>
   
   <servlet-mapping>
   	<servlet-name>modyfyCon</servlet-name>
   	<url-pattern>/modyfyCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>joinCon</servlet-name>
   	<url-pattern>/joinCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>loginCon</servlet-name>
   	<url-pattern>/loginCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>logoutCon</servlet-name>
   	<url-pattern>/logoutCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>deleteCon</servlet-name>
   	<url-pattern>/deleteCon</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>idCheck</servlet-name>
   	<url-pattern>/idCheck</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>deleteUserCon</servlet-name>
   	<url-pattern>/deleteUserCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   	<servlet-name>compositionCon</servlet-name>
   	<url-pattern>/compositionCon</url-pattern>
	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>BoardCon</servlet-name>
   		<url-pattern>/BoardCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>BoardWriteCon</servlet-name>
   		<url-pattern>/BoardWriteCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>BoardListCon</servlet-name>
   		<url-pattern>/BoardListCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>BaordDetailCon</servlet-name>
   		<url-pattern>/BaordDetailCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>BoardUpdateCon</servlet-name>
   		<url-pattern>/BoardUpdateCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>usergradeCon</servlet-name>
   		<url-pattern>/usergradeCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CalendarDeleteCon</servlet-name>
   		<url-pattern>/CalendarDeleteCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CalendarInsertCon</servlet-name>
   		<url-pattern>/CalendarInsertCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CalendarLastIdCon</servlet-name>
   		<url-pattern>/CalendarLastIdCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CalendarUpdateCon</servlet-name>
   		<url-pattern>/CalendarUpdateCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CalendarViewCon</servlet-name>
   		<url-pattern>/CalendarViewCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>updataCon</servlet-name>
   		<url-pattern>/updataCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>boardDeleteCon</servlet-name>
   		<url-pattern>/boardDeleteCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CommentUpdateCon</servlet-name>
   		<url-pattern>/CommentUpdateCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>commentDeleteCon</servlet-name>
   		<url-pattern>/commentDeleteCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>commentWriteCon</servlet-name>
   		<url-pattern>/commentWriteCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>CommentUpdate</servlet-name>
   		<url-pattern>/CommentUpdate</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>searchCon</servlet-name>
   		<url-pattern>/searchCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>LocationAddressListCon</servlet-name>
   		<url-pattern>/LocationAddressListCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>LocationCityListCon</servlet-name>
   		<url-pattern>/LocationCityListCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>typeUpdateCon</servlet-name>
   		<url-pattern>/typeUpdateCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>prevExercise</servlet-name>
   		<url-pattern>/prevExercise</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>nextExercise</servlet-name>
   		<url-pattern>/nextExercise</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>mondsyExercise</servlet-name>
   		<url-pattern>/mondsyExercise</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>wednesdayExercise</servlet-name>
   		<url-pattern>/wednesdayExercise</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>fridayExercise</servlet-name>
   		<url-pattern>/fridayExercise</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>selelctDay</servlet-name>
   		<url-pattern>/selelctDay</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>likeCon</servlet-name>
   		<url-pattern>/likeCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>unlikeCon</servlet-name>
   		<url-pattern>/unlikeCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>likeExerciseCon</servlet-name>
   		<url-pattern>/likeExerciseCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>unLikeExerciseCon</servlet-name>
   		<url-pattern>/unLikeExerciseCon</url-pattern>
   	</servlet-mapping>
   	<servlet-mapping>
   		<servlet-name>UnLikeExerciseCon</servlet-name>
   		<url-pattern>/UnLikeExerciseCon</url-pattern>
   	</servlet-mapping>
   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.htm</welcome-file>
      <welcome-file>default.jsp</welcome-file>
      <welcome-file>main.html</welcome-file>
      <welcome-file>main.htm</welcome-file>
      <welcome-file>main.jsp</welcome-file>
   </welcome-file-list>



</web-app>

